.linkIcon{
    height: min-content;
    width: auto;
    position: relative;
}
.contRedes{
    margin: 2rem 0;
}

.iconRed{
    position: relative;
    height: min-content;
    width: auto;
    font-size: 2.5rem;
    /* fill: #1d1e25; */
    filter: invert(0.8);
    margin: 0 1rem;
}
