.Reviews{
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.title-reviews{
    padding-bottom: 5rem;
    font-size: 2.2rem;
    width: fit-content;
    height: min-content;
}
.swiper{
    width: 100%;
    height: 20rem;
    display: flex;
    background-color: transparent;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #f4f4f4;
    gap: 1rem;
    border-radius: 15px;
 
}
.image-review{
    width: 5rem;
}
.name-review{
    font-size: 1rem;
    margin: 1.5rem 0 1rem 0;
}
.description-review{
    color: #9095a7;
    font-size: 1rem;
    width: auto;
    display: flex;
    text-align: center;
    line-height: 1.7rem;
}
.cont-btn-reviews{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}
.btn-reviews{
    display: flex;
}
.title-cta{
    font-size: 2.2rem;
    font-weight: 600;
    color: #fafafa;
}
.btn-cta:hover{
    background-color: #cfcfcf;
    transition: all 0.3s linear;
    color: #f57c5e;
}
@media screen and (max-width: 767px){
    .Reviews{
        align-items: center;
    }
    }
    @media (min-width: 767px) and (max-width: 1024px){
        .Reviews{
            align-items: center;
        }
    }
